<%- include ('./partials/header'); %>

<section class="gameNav">

<div class="container" id="conOne">
    <div class="cardOne" id="cardOne">
        <div class="circle"></div>
        <li class="cardTitle">RPS</li>
        <img src="/img/scissors.png" alt="rockpaperscissors" width="80%" class="cardImg">
        <a class="cardBtn" href="/games/rockpaperscissors">PLAY</a>
    </div>
</div>

<div class="container" id="conTwo">
    <div class="cardOne" id="cardTwo">
        <div class="circle"></div>
        <li class="cardTitle">TETRIS</li>
        <img src="/img/tetris.png" alt="tetris" width="80%" class="cardImg">
        <a class="cardBtn" href="/games/tetris">PLAY</a>
    </div>
</div>

<div class="container" id="conThree">
    <div class="cardOne" id="cardThree">
        <div class="circle"></div>
        <li class="cardTitle">SNAKE</li>
        <img src="/img/snake.png" alt="snake" width="80%" class="cardImg">
        <a class="cardBtn" href="/games/snake">PLAY</a>
    </div>
</div>

</section>

<script src="/js/game.js"></script>
