<section class="rock-paper-scissors">

    

    <div class="startscreen">
        <h1>ROCK PAPER SCISSORS</h1>
        <button class="start">START GAME</button>
        <button class="six">Play 6 rounds</button>
        <button class="nine">Play 9 rounds</button>
        <button class="twelve">Play 12 rounds</button>
    </div>

    <div class="game fadeOut">

        <div class="score">

            <div class="playerScore">
                <h2>Your Score</h2>
                <p>0</p>
            </div>
    
            <a href="/games">BACK</a>
    
            <div class="npcScore">
                <h2>Enemy Score</h2>
                <p>0</p>
            </div>
        </div>

        <h2 class="winner">
            Choose your Character!
        </h2>

        <div class="chars">

            <img src="/img/rock.png" class="rock" alt="rock" width="20%">

            
            <img src="/img/paper.png" class="paper" alt="paper" width="20%">
           
            
            <img src="/img/scissors.png" class="scissors" alt="scissors" width="20%">
        
            
        </div>

        <div class="choices">
            
            <div class="theChoices">
                <h3>YOU</h3>
               <p class="playerChoice">ヽ༼ຈل͜ຈ༽ﾉ</p>
            </div>
            
            <div class="theChoices">
                <h3>NPC</h3>
                <p class="npcChoice">༼☉ɷ⊙༽</p>
            </div>
        </div>

    </div>

    </section>

    <script src="/js/rps.js"></script>