<%- include ('./partials/header'); %>

<div class="gridWrapper">
    <div class="skillCard">
    <h3>Javascript</h3>

    <div class="underline"></div>
    
    <ul>
        <li>Fundamentals</li>
        <li>einige fortgeschrittene Konzepte</li>
        <li>etwas Vue.js</li>
        <li>ES6</li>
    </ul>

    <div class="progressBar">
        <div class="progressFilledJS">

        </div>
    </div>
</div> 

<div class="skillCard">
    <h3>HTML & CSS</h3>

    <div class="underline"></div>
    
    <ul>
        <li>HTML Tags</li>
        <li>SEO</li>
        <li>CSS-Grid</li>
        <li>Flexbox</li>
    </ul>

    <div class="progressBar">
        <div class="progressFilledCSS">

        </div>
    </div>
</div>

<div class="skillCard">
    <h3>Node.js</h3>

    <div class="underline"></div>
    
    <ul>
        <li>Express</li>
        <li>EJS</li>
        <li>Mongoose</li>
        <li>Bcrypt.js</li>
    </ul>

    <div class="progressBar">
        <div class="progressFilledNode">

        </div>
    </div>

</div>

<div class="skillCard">
    <h3>MongoDB & MySQL</h3>

    <div class="underline"></div>
    
    <ul>
        <li>NoSQL & MySQL</li>
        <li>DB Queries</li>
        <li>XAMPP</li>
        <li>MDB Atlas</li>
    </ul>

    <div class="progressBar">
        <div class="progressFilledDB">

        </div>
    </div>
</div>

<div class="skillCard">
    <h3>Java</h3>

    <div class="underline"></div>
    
    <ul>
        <li>Objekt-orientierte-Programmierung</li>
        <li>Fundamentals</li>
        <li>IntelliJ</li>
        <li>JavaFX</li>
    </ul>

    <div class="progressBar">
        <div class="progressFilledJava">

        </div>
    </div>
</div>

<div class="skillCard">
    <h3>Other</h3>

    <div class="underline"></div>
    
    <ul>
        <li>C#</li>
        <li>Unity Engine</li>
        <li>PHP</li>
        <li>Wordpress</li>
    </ul>
    <div class="progressBar">
        <div class="progressFilledOther">
    
        </div>
    </div>
</div>
</div>