<section class="snakecontainer">

  <div class="sidebar">
  <h1 class="snakeTitle">SNAKE</h1>

  <h1 class="snakeScore">Your Score: </h1>
  <h1 class="score"></h1>
  
    <a href="/games">HOME</a>
  </div>

  <div class="gameCanvas">
    <canvas class="canvas" height="600" width="600" style="background-color: #000000"></canvas>
  </div>
   
</section>

  <script src="/js/snake/fruit.js"></script>
  <script src="/js/snake/snake.js"></script>
  <script src="/js/snake/draw.js"></script>
 