<div class="displayTetris">
    <div class="sidebar">
        <div class="title">
            <h1>
                TETRIS
            </h1>
        </div>
        <div class="score">
            <h2 id="scr">SCORE</h2>
            <p id="score" class="score"></p>
        </div>

        <div class="level">
            <h2 id="lvl">LEVEL</h2>
            <p id="level" class="level"></p>
        </div>

        <div class="underline"></div>

        <a href="/games">HOME</a>

    </div>

    <div class="game">
        
        <div class="tetrisCanvas">
            <canvas id="tetris" width="360" height="600"></canvas>
        </div>

    </div>

</div>

<script src="/js/tetris.js"></script>